$primary: #287554;
$greenish: #7aa893;
$light-green: #8eb5a4;
$lightest-green: #a3c2b5;
$black: #000000;
$white: #ffffff;
$grey1: #f6f4f4;
$grey2: #dedede;
$grey3: #c4c4c4;
$white-translucent-highlight: rgba(255, 255, 255, 0.2);