%headline1 {
    font-size: 1.5rem;
    font-weight: 800;
}

%subtitle {
    font-size: 1rem;
    font-weight: 600;
}

%body {
    font-size: 1rem;
}

$headline1-size: 1.8rem;
$subtitle-size: 1rem;
$body-size: 1rem;